/**
 * Staades SDK JS 2.0 Graph Sass
 */

.staades-graph-container {

	// border: 1px solid gray;

	.staades-graph-btns {
		position: relative;
		z-index: 100;
		height: 24px;
		// top: 15px;
		margin-left: 50px;
		margin-right: 10px;

		.staades-visible {
			display: inline;
		}
		.staades-invisible {
			display: none;
		}
		.staades-active {
			background-color: #cdcdcd;	
		}
	}

	.staades-graph-range-btn,
	.staades-graph-diff-btn {
		background-color: #efefef;
		height: 24px;
		padding: 3px 4px;
    	margin-right: 1px;
    	font-size: 0.8em;
		cursor: pointer;
	}

	.staades-graph-range-btns {
		float:left;
	}
	.staades-graph-diff-btns {

		float:right;
	}

	.staades-graph-error {
		color: red;
	}
}